button {
    background-color: rgba(30, 70, 73, 0.939); /* rojo */
  }
  button {
    color: hsl(0, 0%, 98%); /* blanco */
  }
  button {
    border: 2px solid rgb(236, 231, 231); /* borde rojo de 2 píxeles */
  }
  button {
    box-shadow: 2px 2px 2px #9e8e8e; /* sombra de 2 píxeles */
  }
  button {
    font-family: Arial, sans-serif; /* fuente Arial o una fuente sans-serif */
  }
  .titulo{
	color: rgb(14, 63, 12);
    text-align: center;
    font-size: 35px;
}
button {
    cursor: pointer;
  }
p { 
    text-align: justify;
}
.Titulosparcial{
    color: rgb(32, 108, 92);
}